.navbar {
  height: 13rem;
  background-color: rgba(51,51,51,.8);
  font-family: "Rajdhani", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  color: #fff; /* Monochrome text color */
  display: flex;
  align-items: center;
  padding: 0 2rem;
}

.navbar nav {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%; 
  justify-content: space-between;
}

.navbar img {
  height: 110%; 
  width: auto;
  margin-left: 20px;
}

.navbar ul {
  list-style: none;
  display: flex;
  flex: 1; 
  justify-content: space-around; 
  padding: 0;
  margin: 0;
  align-items: center;
}

.navbar li {
  margin: 0 1rem;
}

.navbar a {
  color: #ccc; 
  text-decoration: none;
}

.navbar a:hover,
.navbar a:active,
.navbar a.active {
  color: #fff;
  padding-bottom: 0.25rem;
  border-bottom: 4px solid #fff;
}